<table class="table">
    <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">UserName</th>
        <th scope="col">Price</th>
        <th scope="col">Accepted</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ride of rides'>
        <td>{{ride.source}}</td>
        <td>{{ride.destination}}</td>
        <td>{{ride.user.username}}</td>
        <td>{{ride.offer}}</td>
        <td>{{ride.accepted}}</td>
        <td>
            <a routerLink='/updateRide/{{ride._id}}'>
                <button class="btn btn-sm btn-primary">Update</button>
            </a>
        </td>
      </tr>


    </tbody>
  </table>

