<form #myForm='ngForm' (ngSubmit)='signUp(myForm.value)'  class="container">
    <div class="form-group">
      <label for="username">User Name</label>
      <input
        type="text"
        class="form-control mt-2"
        id="username"
        placeholder="Enter username"
        ngModel
        name="username"
        #username = 'ngModel'
        required
        minlength="3"
        (focus)='invalidLoginFun()'
      />
      <div class="errors d-flex justify-content-center" *ngIf='username.touched && username.invalid'>
      <div *ngIf= 'username.errors?.required'>
          *Username is required*
      </div>
      <div *ngIf='username.errors?.minlength'>
      *Username minlength is {{username.errors?.minlength.requiredLength}}*
      </div>
      </div>

      <div class="errors d-flex justify-content-center" *ngIf='invalidUserName'>
        *Username is already in use*
      </div>
  
    </div>
  
    <div class="form-group">
      <label for="mobilenumber">Mobile number</label>
      <input
        type="text"
        class="form-control mt-2"
        id="mobilenumber"
        placeholder="Enter mobilenumber"
        ngModel
        name="mobilenumber"
        #mobilenumber = 'ngModel'
        required
        (focus)='invalidLoginFun()'
      />
      <div class="errors d-flex justify-content-center" *ngIf='mobilenumber.touched && mobilenumber.invalid'>
      <div *ngIf= 'mobilenumber.errors?.required'>
          *Mobile Number is required*
      </div>
      </div>

      <div class="errors d-flex justify-content-center" *ngIf='invalidMobileNumber'>
        {{invalidMobileMsg}}
      </div>
  
  
    </div>
  
  
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control mt-2"
        id="email"
        placeholder="Enter Email"
        ngModel
        name="email"
        #email = 'ngModel'
        email
      />
      <div class="errors d-flex justify-content-center"
       *ngIf='email.touched && email.invalid'>
      <div *ngIf='email.errors?.email'>
      *Please enter valid email*
      </div>
      </div>
  
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control mt-2"
        id="password"
        placeholder="Enter Password"
        ngModel
        name="password"
        #password = 'ngModel'
        required
        minlength="6"
      />
      <div class="errors d-flex justify-content-center" *ngIf='password.touched && password.invalid'>
      <div *ngIf= 'password.errors?.required'>
          *Password is required*
      </div>
      <div *ngIf='password.errors?.minlength'>
      *Password minlength is {{password.errors?.minlength.requiredLength}}*
      </div>
      </div>
  
    </div>


    <div class="form-check form-check-inline mt-3">
        <input
          class="form-check-input"
          type="radio"
          name="roles"
          id="driver"
          value="driver"
          ngModel
          #roles="ngModel"
          required
          (change)="driverSelected()"
        />
        <label class="form-check-label" for="driver">Driver</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="roles"
          id="user"
          value="user"
          ngModel
          #roles="ngModel"
          required
          (change)='userSelected()'
        />
        <label class="form-check-label" for="user">User</label>
      </div>

      <div class="form-group" *ngIf='driverInfo'>
        <label for="driveLicense">Drive License</label>
        <input
          type="text"
          class="form-control mt-2"
          id="driveLicense"
          placeholder="Enter driveLicense"
          ngModel
          name="driveLicense"
          #driveLicense = 'ngModel'
          required
        />
        <div class="errors d-flex justify-content-center" *ngIf='driveLicense.touched && driveLicense.invalid'>
        <div *ngIf= 'driveLicense.errors?.required'>
            *Drive License is required*
        </div>
        </div>
    
      </div>

      <div class="form-group" *ngIf='driverInfo'>
        <label for="nationalId">National ID</label>
        <input
          type="text"
          class="form-control mt-2"
          id="nationalId"
          placeholder="Enter nationalId"
          ngModel
          name="nationalId"
          #nationalId = 'ngModel'
          required
          minlength="14"
        />
        <div class="errors d-flex justify-content-center" *ngIf='nationalId.touched && nationalId.invalid'>
        <div *ngIf= 'nationalId.errors?.required'>
            *National ID is required*
        </div>
        <div *ngIf='nationalId.errors?.minlength'>
        *National ID minlength is {{nationalId.errors?.minlength.requiredLength}}*
        </div>
        </div>
    
      </div>
  
      <br>
    <button type="submit" class="btn btn-lg btn-primary mt-2 mb-5" [disabled]='myForm.invalid' *ngIf='userInfo'>Submit User</button>
    <button type="submit" class="btn btn-lg btn-primary mt-2 mb-5" data-toggle="modal" data-target="#exampleModal" [disabled]='myForm.invalid' *ngIf='driverInfo'>Submit Driver</button>
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seuccess</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thank you your request has been sent to the admin..
      </div>
      <div class="modal-footer">
        <a routerLink='/logindriver'>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </a>
      </div>
    </div>
  </div>
</div>
  </form>
  