<table class="table">
    <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">User Name</th>
        <th scope="col">Price</th>
        <th scope="col">Accepted</th>
        <th scope="col">Accept</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ride of rides'>
        <td *ngIf='ride.driver'>{{ride.source}}</td>
        <td *ngIf='ride.driver'>{{ride.destination}}</td>
        <td *ngIf='ride.driver'>{{ride.driver.username}}</td>
        <td *ngIf='ride.driver'>{{ride.offer}}</td>
        <td *ngIf='ride.driver'>{{ride.accepted}}</td>
        <td *ngIf='ride.driver'>
            <button class="btn btn-sm btn-success" (click)='acceptRide(ride._id,ride)'>Accept</button>
        </td>
        <td *ngIf='ride.driver'>
            <button class="btn btn-sm btn-danger" (click)='rejectRide(ride._id,ride)'>Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
